@model UserSkill.Models.Skill

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="col-md-12" style="background:brown;color:#eee;font-style: italic;padding:10px 0 10px 20px;"> - Delete Skill -</h2>

<dl>
    <dt>Name</dt>
    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>
</dl>

<p style="color:#990000;"> <b>Notice:</b> this action intends completely removing item from DB. Think twice!</p>

@using (Html.BeginForm())
{
    <a href="/Skill/Index" class="btn btn-default">Cancel</a>
    <input type="submit" value="Delete" class="btn btn-danger" />
}

