@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="margin:20px 0 0 0;">
    <h1>User Skill</h1>
    <p class="lead">Simple web-application to work with personal user skills.</p>
    <p><a href="/User/Index" class="btn btn-primary btn-large">Go to users &raquo;</a></p>
</div>